@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #3730a3;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
  --secondary-color: #a5b4fc;
}

.container {
  padding: 0rem 1rem;
  text-align: left;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.link {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

link:visited {
  color: #a5b4fc;
}

.primary-link {
  background-color: var(--primary-color);
  color: azure;
  display: block;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
  border-radius: 0.5rem;
}

.secondary-link {
  border: 0.1rem solid var(--primary-color);
  color: var(--primary-color);
  display: block;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
  border-radius: 0.5rem;
}

.list {
  list-style: none;
}

.inline-list {
  display: inline;
  padding: 0rem 0.1rem;
}

.navigation {
  background-color: var(--primary-color);
  padding: 1rem;
  color: azure;
  border-bottom-left-radius: 2rem;
}

.navigation .link {
  color: azure;
}

.navigation .link :active {
  font-weight: bold;
}

.nav-brand {
  font-weight: bold;
}

.nav-pills {
  text-align: right;
}

.link-active {
  font-weight: bold;
}

.hero {
  padding: 2rem;
}

.hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
}

.hero-heading {
  padding-top: 1rem;
  font-size: 2rem;
  color: var(--dark-gray);
  text-align: center;
}

.hero-heading-highlight {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}
.ow-section {
  background-color: var(--off-white);
}

.footer {
  background-color: var(--secondary-color);
  padding: 1rem 1rem;
  color: azure;
  border-bottom-left-radius: 1rem;
  text-align: center;
}

.footer .link {
  color: azure;
}

.footer-header {
  font-weight: bold;
}

.icon-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.margin-md {
  padding: 1rem;
}
